<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="edu.poly.hocgooglemapandfacebook">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HocGoogleMapAndFacebook"
        tools:targetApi="31">

        <!--
                Cấu hình 1 số cái của fb
                1. Có thể xoay mà hình nếu mình xoay thì nó cũng xoay theo
                2. kích thức của facebook
                3. Tương tác với keyboard
                4. Khi enter thì ẩn bàn phím đi
                config: cấu hình
            -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:label="fackbook"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--   Sử dụng API là phải đăng ký meta-data     -->
        <!--    Đưa ID app vào meta-data trong android manifest        -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <!--    Đưa client token vào meta-data trong android manifest        -->
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token"
            />

    </application>

</manifest>